.auth__container {
    background-image:url("../images/bg.png");
    background-size: cover;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.auth__card {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: 5% auto;
    position: relative;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 0 16.2px 1.8px rgba(102, 62, 170, 0.34);
}

.auth__card button:hover{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}


.auth__card-header {
    font-size: 32px;
    color: #ffb102;
    font-weight: 800;
}

.auth__card-thirdparty {
    width: 80%;
    align-items: center;
    position: relative;
    display: flex;
    background: none;
    border: solid 0.2px #7878788f;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 15px;

}

.auth__card-thirdparty svg {
    margin: auto 7px;
    position: absolute;
    width: 17px;
    height: 17px;
}

.auth__card-thirdparty span {
    display: inline-block;
    padding: 5px;
    margin: 0px auto;
    font-size: 18px;
    color: #686868;
}

.auth__card-or {
    width: 80%;
    margin: 15px auto;
}

.auth__card-or::before, .auth__card-or::after {
    content: "";
    display: inline-block;
    margin: 5px 5px;
    width: 40%;
    background-color:#555555;
    height: 1px;
}

.auth__card-input {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    border-radius: 5px;
    border: solid 0.5px #787878;
    margin: 7.5px auto;
}

.auth__card-input input {
    border-radius: 5px;
    border: none;
    font-size: 18px;
    padding: 10px;
    width: 800%;
    color: #000;
    font-family: 'Raleway';
}

.auth__switch {
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    background: rgb(255, 165, 31);
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    transition: 0.5s;
    height: 40px;
    width: 40%;
    margin: 20px auto;
}

.auth__switch:checked {
    background: lightblue;
}

.auth__switch::after {
    content: "SELLER";
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 800;
    color: #fff;
    font-size: 0.5em;
}

.auth__switch::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 40px;
    border-radius: 5px;
    top: 0;
    left: 0;
    background: grey;
    z-index: 2;
    transition: 0.5s;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.auth__switch:checked::before {
    left: 50%;
}

.auth__switch:checked::after {
    content: "CUSTOMER";
    position: absolute;
    left: 7.5%;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 800;
    color: #fff;
    font-size: 0.7em;
    
}


.auth__card-input .MuiSvgIcon-root {
    margin: 0 10px;
    fill: #f00;
}

.auth__card-input input::placeholder {
    color: #9f9f9f;
    font-family: 'Raleway';
}

.auth__card-submit:focus {
    outline: none;
}

.auth__card-submit {
    color: #fff;
    background-color:#39b54a;
    font-size: 18px;
    padding: 10px;
    width: 80%;
    margin: 7.5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.auth__card-forgot {
    text-decoration: none !important;
    color: #39b54a;
    font-size: 12px;
    align-self: flex-end;
    margin-right: 10%;
    font-weight: 600;
}

.auth__card-nmy {
    margin: 10px 0 30px 0;
    font-size: 12px;
    color: #9f9f9f;
    font-weight: 600;
}

.auth__card-nmy a {
    color: #ffb102;
    text-decoration: none;
}

/* Large Screen */
@media only screen and (min-width: 600px){
    .auth__card {
        width: max(20%, 380px);
    }
}

/* Small Screen */
@media only screen and (max-width: 600px){
    .auth__card {
        width: 80%;
    }
 
    .auth__card-thirdparty span{
        margin-left: 15%;
    }

}