.dashboard {
   display: flex;
   justify-content: space-evenly;
   min-height: 90vh;
   width: 100%;
   margin: 0 auto;
}

.dashboard__summary {
   min-width: 20%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}
.dashboard__summary-profile {
   flex: 0.45;
}

.dashboard__summary-profile, .dashboard__summary-inbox {
   
   width: 100%;
   margin: 1.5rem;
}

.dashboard__summary-inbox {
   overflow-y: scroll;
   position: relative;
   height: 46vh;
}

.dashboard__summary-inbox h2 {
   margin: 0;
   margin-left: 5%;
   padding: 20px 0 5px 0;
}

.dashboard__summary-inbox::-webkit-scrollbar {
    width: 0.25rem;
}

.dashboard__summary-inbox::-webkit-scrollbar-track {
    background-color: transparent;
}

.dashboard__summary-inbox::-webkit-scrollbar-thumb {
    background-color: #553985;
}

.fixed {
   position: sticky;
   top: 0;
   left: 0;
   background-color: #fff;
}

.divider {
   width: 90%;
   margin: 15px auto;
   background-color: #ffc000;
   height: 2px;
}

.photo-text {
   display: flex;
   align-items: center;
   width: 100%;
   margin: 5px 0;
   padding: 5px 0;
}

.dashboard__summary-inbox .photo-text:hover, .photo-text:focus {
   background-color: #eeeeee;
}

.dashboard__summary-profile .photo-text > .text{
   color: #663eaa;
   font-size: 18px;
}

.photo-text > .avatar, .bid  .avatar {
   margin: 0 25px;
   width: 57px;
   height: 57px;
   border-radius: 50%;
   display: grid;
   place-items: center;
   background-color: #606060;
   color: #fff;
   font-size: 18px;
   font-weight: bold;
   letter-spacing: 1.5px;
}

.photo-text > .text  {
   font-size: 16px;
}

.entry {
   display: flex;
   justify-content: space-between;
   margin: 12.5px 25px;
}

.entry> span:last-child {
   color: #606060;
}

/* bids */

.dashboard__bids {
   width: 68%;
   overflow-y: scroll;
   height: 87vh;
}

.dashboard__bids-active {
   display: flex;
   flex-direction: column;
   margin: 1.5rem;
   height: 80vh;
}

.dashboard__bids::-webkit-scrollbar {
    width: 0.5rem;
   }
   
   .dashboard__bids::-webkit-scrollbar-track {
      background-color: #fff;
   }
   
   .dashboard__bids::-webkit-scrollbar-thumb {
      background-color: #553985;
      border-radius: 20px;
}

.dashboard__bids-active h1 {
   border: solid 0.5px #787878;
   outline: solid #fff 25px;
   border-radius: 5px;
   margin: 0;
   font-size: 20px;
   padding: 2rem;
   width: 100%;
   position: sticky;
   background-color: #fff;
   top: 25px;
   left: 0;
}

.bid {
   display: flex;
   align-items: center;
   border: 0.5px solid #787878;
   padding: 20px;
   margin: 30px 0;
   width: 100%;
}

.prod__info {
   display: flex;
   justify-content: space-between;
   margin-right: auto;
}

.bid .details {
  display: flex;
  justify-content: left;
  width: 80%;
  align-items: center;
}

.bid__price, .details .bid__status {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: left;
   margin: 0 10%;
   width: 15%;
}

.bid__price-price {
   font-size: 18px;
   font-weight: 600;
   margin-top: 5px;
}

.bid__status {
   margin-top: 0px;
}

.caption {
   color: #949494;
   font-weight: 500;
   font-size: 14px !important;
}

.bid .badge {
   display: inline-block;
   padding: 4px 10px;
   border-radius: 12px;
   background-color: #787878;
   margin-top: 5px;
   font-size: 10px;
   text-transform: uppercase;
   font-weight: bolder;
   color: #ffffff;
}

.bid .view {
   font-weight: bold;
   text-decoration: none;
   color: #ffb102;
   margin-right: 5%;
   margin-left: auto;
}

.bid .OPEN {
   background-color: #ffb102 !important;
}


@media (max-width: 1200px ){
   .dashboard__summary {display: none;}

   .dashboard__bids {
      width: 100%;
   }
}