.footer__message {
    width: 80%;
    margin: 5% auto;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 0 13.1px 4.9px rgba(102, 62, 170, 0.38);
}

.footer__message h1 {
    font-size: 56px;
    color: #663eaa;
    display: inline-block;
    width: 37.2%;
}


.footer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #663eaa;
    padding: 0 5%;
    flex-wrap: wrap;
}

.footer__section{
    font-size: 18px;
    color: white;
    width: 15%;
    margin: 5%;
}

.footer__section > ul {
    list-style: none;
    padding-inline-start: 0;
}

.footer__section > ul  a {
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-bottom: 26px;
}

.footer__marketing {
    width: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer__marketing > img {
    width: 147px;
    margin-bottom: 30px;
}

.footer__marketing-social svg {
    width: 31px;
    height: 31px;
    fill: #ffb102;
    margin-right: 20px;
}

/* Small Screen Devices */
@media only screen and (max-width: 500px) {
    .footer__section {
        margin-bottom: 0;
        flex: 1;
    }
    .footer__marketing {
        flex-basis: 100%;
        align-items: center;
        justify-content: flex-start;
        margin: 5%;
    }

    .footer__message {
        padding: 20px;
    }
    .footer__message h1 {
        width: 100%;
        font-size: 2em;
    }
}