:root {
    font-size: 16px;
    --major-bg: #ffffff;
    --bg: #242526;
    --bg-accent: #484a4d;
    --text-color: #b3cdff; 
    --border: 1px solid #474a4d;
    --border-radius: 8px;
    --animation-speed: 500ms;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background-color: #fff;
}

body::-webkit-scrollbar-thumb {
    background-color: #553985;
}

.bold {
    font-weight: 700;
}

.border {
    border: solid 1px black;
}
