:root {
    font-size: 16px;
    --major-bg: #ffffff;
    --bg: #242526;
    --bg-accent: #484a4d;
    --text-color: #b3cdff; 
    --border: 1px solid #474a4d;
    --border-radius: 8px;
    --animation-speed: 500ms;
}

input:focus {
    outline: none;
    border: none;
}

* {
    box-sizing: border-box;
}


.backdrop {
    position: absolute;
    background-color: #000;
    opacity: 0;
    height: 100vh;
    width: 100vw;
    top: 10vh;
    left: 0;
    transition: opacity 500ms ease-in-out;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
}

.loader {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: #553985;
}

.bold {
    font-weight: bolder;
    letter-spacing: 1pt;
}

.border {
    border: solid 0.5px #4d4141;
    border-radius: 5px;
}

.img {
    background: none !important;
}

.popup__bg {
    height: 100vh;
    z-index: 1;
    background-color: #474a4d6b;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
}

.popup {
    align-items: center;
    justify-content: center;
}

.popup__message {
    position: fixed;
    top: 50%;
    transition: transform ease-in-out 300ms;
    background-color: #fff;
    padding: 2em 2em;
    color: #121212;
    border-radius: 10px;
    animation: popup 300ms ease-in-out;
    transform: translateY(-50%);
    z-index: 2;
}

.hide {
    display: none !important;
}

button:focus {
    outline: none;
    cursor: pointer;
}

.flex-center {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: inherit;
}

input:focus {
    outline: none;
}

@keyframes popup {
    0% {
        transform: scale(0) translateY(0%);
        opacity: 0.1;
    }
    80% {
        transform: scale(1.1) translateY(-35%);
        opacity: 0.8;
    }
    100% {
        transform: scale(1) translateY(-50%);
        opacity: 1;
    }
}