:root {
    font-size: 16px;
    --major-bg: #ffffff;
    --bg: #242526;
    --bg-accent: #484a4d;
    --text-color: #b3cdff; 
    --border: 1px solid #474a4d;
    --border-radius: 8px;
    --animation-speed: 500ms;
}

input:focus {
    outline: none;
    border: none;
}

* {
    box-sizing: border-box;
}


.backdrop {
    position: absolute;
    background-color: #000;
    opacity: 0;
    height: 100vh;
    width: 100vw;
    top: 10vh;
    left: 0;
    transition: opacity 500ms ease-in-out;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
}

.container {
}

.row {
    display: flex;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: #553985;
}

.bold {
    font-weight: bolder;
    letter-spacing: 1pt;
}

.border {
    border: solid 0.5px #787878;
    border-radius: 5px;
}
